.App {
   text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;

}

.root-container{
  
  display: flex;
  flex-direction: row;
  

}

.Root-header{
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid red;
  background-color: lightblue;
  margin-top: 0px;
  width: 100%
}
.Root-header h1{
   align-items: center;
   margin-top: 20px;
}


.btn-group button:hover {
  background: #2980b9;
}

.btn-group button:disabled {
  background: #bdc3c7;
  cursor: not-allowed;
}

@media (max-width:786px) {
  .root-container{
  flex-direction: column;
  display: flex;
  margin-block: none;

}
  

@media(min-width:400px) and (max-width:786px) {
  .Root-header{
    width: 100%;
  }
}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
